@model string
@{
    Layout = null;
}

<div style="margin-top: 200px">
    <center>
        <img src="~/Content/images/error.png" />
        <h2>@ViewBag.Error</h2>
        <br/>
        <a href="/">Voltar ao inicio</a>
    </center>
</div>


